#calculator { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
#btn
{ 
    width: 100%; 
    padding: 20px 40px; 
    background-color:brown; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
  
#result
{ 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 
.wh{
    height:35px;
    width:100%;
}

#btnreset
{
    width: 100%; 
    padding: 20px 40px; 
     background-color:darkgray; 
    color:black; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px;
}